
.smooth-font {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: fade(@body-textColor, 67%);
}

@font-face {
    font-family: "Font Name";
    src: url('/resources/fonts/font_Name.ttf');
}
